@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

body{
    margin: 0;
    border: 0;
    padding: 0;
    background: #C9D5FF;
    /*
    background: #4A738C;
    /*background: #8E9EBF; */
    font-family: 'Jost', sans-serif;
 }
 
 .container{
     max-width: 1200px;
     margin: 0 auto;
 }
 
 .container2{
     max-width: 980px;
     margin: 0 auto;
 }
 .container3{
     max-width: 630px;
     margin: 0 auto;
 }
 
 .header {
     background: #0D0D0D;
     width: 100%;
     height: 50px;
     padding: 10px 0;
     color: #8C1915;
     border-bottom: #972219 3px solid;
     
 }
 
 .nav ul li {
     display: inline-block;
 }
 
 .nav a {
     font-family: 'Roboto', sans-serif;
     text-decoration: none;
     color:#F2F2F2;
     font-weight: bold;
     padding: 0px 3px 0px;
 }
 
 .nav{
     
     float: right;
 }
 
 .titulo {
     float: left;
     color:#F2F2F2;
     margin: auto;
 }
 
 .titulo span{ 
    color: beige(255, 255, 255);
    font-family: 'Lobster', cursive;
    font-family: 'Acme', sans-serif;
    font-family: 'Inknut Antiqua', serif;
    margin: 0;
    font-family: 'Sen', sans-serif;
 }
 
 .footer {
     text-align: center;
     position: absolute;
     background: #0D0D0D;
     color: #8C1915;
     width: 100%;
     height: 25px;
     padding-top: 5px 0px;
     border-top: #972219 3px solid;
 }

 .perfil{
     width: 30px;
     border-radius: 50%;
     cursor: pointer;
 }

 .dropbtn {
    
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    padding: 0;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  

  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

  .ports{
      margin: 20px auto;
      background: rgba(242,242,244,0.2);
      max-width: 980px;
      min-height: 450px;
      padding: 25px;
    border: #1E3E59 1.5px solid;

      
  }
  .tema{
      background: #F2F2F2;
      border-top: #972219 3px solid;
      border-bottom: #972219 3px solid;
      height: 200px;
      width: 300px;
      margin: 15px 10px;
      margin-right: 15px;
      float: left;
  }

    
  .tema a{
    text-decoration: none;
    color:black;
    font-weight: bold;
    padding:0;
}

  .tema h3{
    background: #B4B4B4;
    margin: 3px 0;
    border-top: black 1px solid;
    border-bottom: black 1px solid;
  }

  .tema h5{
    text-align: right;
    font-weight: normal;
    background: #B4B4B4;
    margin: 3px 0;
    border-top: black 1px solid;
    border-bottom: black 1px solid;
  }

  .tema h5 a {
     font-weight: normal;
     color: #2D343E;
     
}

  .esquerda{
      float: left;
  }


  .tema img{
      width: 237px;
      margin-left: 32px;
      max-height: 133px;
  }

h2{
    text-align: center;
    margin: 0;
    text-decoration: underline;
}

.autor {
    text-align: right;
    margin: 5px 0;
}

p{
    text-align: justify;
}
img{
    border: black 1px solid;
}