:root {
    --vermelhoRei:#57140f;
    --branco: #f2f2f2;
    --preto: #0d0d0d;
  }


body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1;
    background-color:var(--branco);
    color: var(--preto);
    font-size: 12px;
}

.header {
    background: var(--preto);
    width: 100%;
    height: 50px;
    padding-top: 1px;
    color: var(--branco);
    border-bottom: var(--vermelhoRei) 3px solid;
    
}

.nav ul li {
    display: inline-block;
}

.nav ul li i{
     margin: 0 5px;
     cursor: pointer;
}

.nav a {
    text-decoration: none;
    color: var(--branco);
    font-weight: bold;
    padding: 0px 5px 0px;
}

.nav{    
    float: right;
}

.logo {
    font-family: 'Squada One', cursive;
    float: left;
    color: var(--branco);
    margin: auto;
    padding: 10px 20px;
}

.logo span{ 
    padding: 20px 0;
   color: var(--vermelhoRei);
   font-family: 'Squada One', cursive;
   margin: 0;
   font-family: 'Sen', sans-serif;
}

.container{
    margin-left: auto;
    margin-right: auto;
}
.layout{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 500px){
    body {
        font-size: 20px;
    }
  
    .layout{
        height: 90vh;
       
    }
}
