<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Lobster&family=Squada+One&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/imagens/favicon.ico">
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="stylesheet" href="CSS/index.css">
    <link rel="stylesheet" href="CSS/modal.css">
    <script src="https://kit.fontawesome.com/6d6952c5be.js" crossorigin="anonymous"></script>

    <title>Stories Kingdom</title>
</head>

<body>
    {% if logado %}
    {% include "partials/headerLogado.html" %}
    {% else %}
    {% include "partials/header.html" %}
    {% endif %}


    <div class="container layout">
        <div>
            <h1 class="titulo">Stories Kingdom</h1>
            <h2 class="sub-titulo">Um reino de ideias</h2>
        </div>
    </div>

    {% include "partials/modalLogin.html" %}

    <div class="content">
        <h2>Como historias mudam o mundo?</h2>
        <div class="space">
            <img src="./imagens/capaHome.svg" alt="">
            <p>
                Temos contato com histórias desde que nascemos, aprendemos com sua moral e desenvolvemos nossos valores.
                Conhecemos heróis, e nos inspiramos neles. Conhecemos o mundo como é, mesmo sem entende-lo.
                Quando crescemos, elas continuam presentes em nossas vidas.

                Nas festas de final de ano, fazemos uma retrospectiva, contando histórias de como foi.
                Até mesmo no dia
                a dia, elas são contadas. É como conhecemos pessoas novas, e criamos ligações. </p>
            <p>
                Mesmo histórias fazendo parte do nosso cotidiana, nem todas se passam em nossa realidade, não é um
                requisito. Mesmo assim todas transmitem mensagens e nos trazem uma nova compreensão do mundo.
 
                Histórias nos fazem sonhar e perceber que sempre podemos mudar nossa realidade, com determinação e
                esforço. Elas estão presentes em todos lugares, em filmes, series, anúncios, propagandas, animes e
                músicas.
            </p>
            <p>
                Vários fatores geram um bom filme, mas o principal é seu enredo e o ápice dele. Muitos jogos 2D, feitos
                em 8 bits, podem deixar a experiência do usuário mais agradável. Como em Undertale, que traz dinâmicas
                diferentes comparados a outros jogos, pois nele você pode fazer sua história. Jogos com essa dinâmica
                abordam o efeito borboleta. E é onde você pode criar e modificar histórias.
            </p>
            <p>
                Em nosso site você está totalmente livre para criar e compartilhar suas histórias, não importa de que
                tipo seja. Seja muito bem-vindo a um reino de histórias, um reino de ideias...
            </p>
        </div>


        <h2>Projetos</h2>

        <div class="grid">

            <figure onclick="ExemploTexto()">
                <img class="img-portfolio" src="./imagens/starlordCapa.jpg" alt="StarLord Capa">
            </figure>
            <figure onclick="ExemploVideo()">
                <img class="img-portfolio" src="./imagens/mascara.jpg" alt="A mascara">
            </figure>
            <figure onclick="ExemploQuad()">
                <img class="img-portfolio" src="./imagens/tabula.jpg" alt="Clã Hagnar">
            </figure>
        </div>

        <h2 style="text-align: center;">Quais histórias pode encontrar aqui?</h2>
        <div class="space tipos">
            <div class="tipo">
                <img src="../imagens/historia2.png" alt="História/Texto">
                <p> <span>História/Texto</span> <br>
                    Onde você pode contar suas historias ou escrever textos.
                </p>
            </div>
            <div class="tipo">
                <img src="../imagens/videoTest.png" alt="Video">
                <p> <span>Videos</span> <br>
                    Para compartilhar seus curtas e animações.
                </p>
                <p></p>
            </div>
            <div class="tipo">
                <img src="../imagens/quadrinhos2.png" alt="Quadrinhos">
                <p> <span>Quadrinhos</span> <br>
                    Para compartilhas seus mundos e explorar suas fantasias.
                </p>
                <p></p>
            </div>
        </div>

    </div>

    <div class="footer">
        <div class="icons">
            <a target="_blank" href="https://github.com/Rafael30s">
                <i class="fab fa-github"></i>
            </a>
            <a target="_blank" href="mailto:rafael.santos@bandtec.com.br?subject=Hello%20again">
                <i class="far fa-envelope"></i>
            </a>
            <a target="_blank" href="https://www.linkedin.com/in/Rafael30s/">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
    </div>



</body>
<script src="./scripts/index.js"></script>
<script src="../scripts/header.js"></script>
<script src="../scripts/perfil.js"></script>

</html>