<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Lobster&family=Squada+One&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/imagens/favicon.ico">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="../CSS/historia.css">
    <link rel="stylesheet" href="CSS/modal.css">

    <script src="https://kit.fontawesome.com/6d6952c5be.js" crossorigin="anonymous"></script>

    <title>Stories Kingdom</title>
</head>

<body>
    {% if logado %}
    {% include "partials/headerLogado.html" %}
    {% else %}
    {% include "partials/header.html" %}
    {% endif %}
    {% include "partials/modalLogin.html" %}

    <div class="container">

        <div class="content">
            <h2>Infância Mascarada</h2>
            <div class="autor"><b>Autor:</b> Rafael dos Santos</div>
        <img style="float: left;width: 250px; margin-top: 10px; margin-right: 20px;"
            src="https://media.discordapp.net/attachments/581836795000389633/709171125619392614/starlord.jpg?width=893&height=468"
            alt="">

        <div class="container3">
            <p>Peter Quill é um personagem fictício que foi ensinado desde cedo a reprimir seus sentimentos,
                foi
                criado por mercenários que sempre tratavam sentimentos como fraqueza, o único sentimento que
                poderia
                ser expresso era a raiva que de certa forma era algo “másculo”. Em uma das cenas de
                Vingadores:
                Guerra Infinita, o personagem fica emocionalmente instável e expressa seus sentimentos da
                única
                forma que lhe fora ensinado, através da agressividade, mudando por completo o enredo.
            </p>
            <p>
                Embora seja um personagem fictício, sua história exemplifica bem a masculinidade toxica
                presente em
                nosso cotidiano. Essas características negativas não fazem parte da essência natural, como
                diz
                Rousseau quando descreve a natureza humana.
            </p>
        </div>
        <img src="https://media.discordapp.net/attachments/581836795000389633/709171748687577109/batman.jpg?width=702&height=468"
            style="float: right;width: 250px; margin: 10px 20px" alt="">
        <div class="container3">
            <p>
                Durante o desenvolvimento das crianças, são apresentadas figuras a elas, na maioria são
                heróis. A
                criança o admira e se espelha nessa imagem tendo assim seu primeiro contato com a
                masculinidade
                tóxica. É onde ouvimos pela primeira vez “O Batman não chora”.
            </p>

            <p>
                O problema não se encontra nessas imagens que atualmente estão sendo humanizadas, como o
                Homem-Aranha que frequentemente interage com suas emoções. O real problema é quando essas
                emoções
                são tratadas como fraqueza, o que claramente está mudando, como é possível observar no
                próprio
                Homem-Aranha e no seu real poder, a empatia, que o torna mais forte e acima de tudo o torna
                humano.
            </p>
        </div>
        <img src="https://media.discordapp.net/attachments/581836795000389633/709172216176312431/miranha.jpg?width=832&height=468"
            style="float: right;width: 350px; margin: 10px 20px" alt="">
    </div>

</div>

<script src="./scripts/index.js"></script>
<script src="../scripts/header.js"></script>
<script src="../scripts/perfil.js"></script>

</body>
</html>