<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Lobster&family=Squada+One&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/imagens/favicon.ico">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="../CSS/perfil.css">
    <link rel="stylesheet" href="../CSS/modalHistoria.css">
    <link rel="stylesheet" href="../CSS/modalSenha.css">
    <link rel="stylesheet" href="CSS/modal.css">



    <script src="https://kit.fontawesome.com/6d6952c5be.js" crossorigin="anonymous"></script>

    <title>Stories Kingdom</title>
</head>

<body>
    {% if logado %}
    {% include "partials/headerLogado.html" %}
    {% else %}
    {% include "partials/header.html" %}
    {% endif %}
    {% include "partials/modalLogin.html" %}
 
    <div id="perfil">

        <main>
           
            <div class="cards">

                {% for story in users %}

                <div class="card">
                    <img src="../imagens/default{{story.image}}.png" alt="{{ story.titulo }}">
                    <h1>{{ story.titulo }}</h1>
                    <h3>{{ story.nome }}
                    </h3>
                    <p>
                        {{ story.descrição }}
                    </p>
                </div>
                {% endfor %}
            </div>

        </main>
    </div>
    <script src="./scripts/index.js"></script>
    <script src="../scripts/header.js"></script>
    <script src="../scripts/perfil.js"></script>
</body>
</html>
