<div class="header">
    <div class="container">
        <div>
            <h1 class="logo">Stories<span>Kingdom</span></h1>
        </div>
        <div class="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/todas">Historias</a></li>
                <li>
                    <i class="fas fa-user" onclick="Perfil()"></i>
                </li>
                <li><i class="fas fa-sign-out-alt" onclick="Fechar()"></i></li>
            </ul>
        </div>
    </div>
</div>