<div id="modal" class="hide">
    <div class="content">

        <form action="/login" method="POST">
            <div class="logon">
                <h1>Login</h1>
                <a href="#">Fechar</a>
            </div>

            <fieldset>
                <div class="field">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="input_username" required>
                </div>
                <div class="field">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" id="input_senha" required>
                </div>

                <a href="/cadastrar"><span>Não está cadastrado?</span></a>
            </fieldset>
            <button type="submit">Entrar</button>
        </form>
    </div>

</div>